/* Profile.css */

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
        background-size: cover;
    background-position: center;
  }
  
  .card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card h2 {
    color: #333;
  }
  
  .card p {
    margin: 10px 0;
  }
  
  .input-box {
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button {
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background: #0056b3;
  }
  