.body{
    background-color: blanchedalmond;
}
.mahatma{
    background-color: antiquewhite;

}
 .card-body{
    background-color: aquamarine;
} 
.card-body{
    background-color: antiquewhite;
}
.card-body1{
    background-color: antiquewhite;
}
.card-body3{
    background-color: antiquewhite;
}
.video1{
    border-radius: 5%;
}
.video2{
    border-radius: 5%;
}
.video3{
    border-radius: 5%;
}
.card-dhoni{
margin-bottom: 5%;
}
